.coffee {
    position: relative;
    top: 96px;
}

.coffee .top {
    padding-left: 76px;
}

#title {
    text-align: left;
    display: block;
    margin-left: 54px;
}

.coffee .line {
    margin-top: 11px;
}

.coffee ul li {
    width: 240px;
    height: 240px;
    float: left;
    margin-right: 48px;
}

.coffee ul li img {
    width: 240px;
    height: 240px;
}

.coffee ul {
    text-align: center;
    margin-top: 31px;
    width: 1246px;
    overflow: hidden;
    float: left;
    height: 260px;
}

h4 {
    margin-top: 10px;
    font-size: 20px;
    color: black;
    font-weight: bold;
}