.join {
    height: 100%;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    padding: 0 200px;
    box-sizing: border-box;
}

.joinbj {
    opacity: 1;
    background-image: url(http://47.98.164.44:9999/bg/join.png)
}

.join h2 {
    color: #666;
    font-weight: bold;
    margin-bottom: 53px;
    margin-top: 53px;
}

.join form {
    position: relative;
}

.join form input {
    width: 367px;
    height: 50px;
    background-color: #dedede;
    border-radius: 8px;
    border: 2px solid #D5D5D5;
    position: absolute;
    left: 0;
}

.join form input:nth-of-type(1) {
    top: 0;
}

.join form input:nth-of-type(2) {
    top: 89px;
}

.join form input:nth-of-type(3) {
    top: 178px;
}

textarea {
    position: absolute;
    float: right;
    width: 367px;
    height: 224px;
    background-color: #dedede;
    border-radius: 8px;
    border: 2px solid #D5D5D5;
    top: 0;
    left: 590px;
}

.submit {
    width: 235px;
    height: 62px;
    /*margin-bottom: 0;*/
    position: absolute;
    bottom: -290px;
    left: 365px;
    background-color: #32ffff;
    border-radius: 8px;
}